body{
    margin: 4em;
    font-family: sans-serif;
}

table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 0;
}

table thead{
    font-size: 1.1em;
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
  
th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3em;
}

input{
    width: 350px;
    height: 40px;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.title-input{
    font-size: 1em;
    letter-spacing: 1px;
}

.footer-input{
    font-size: 0.6em;
    letter-spacing: 0.5px;
    color: grey;
}

.column-selector {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 190px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.download-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.8em 0;

}

.download-buttons-container button:first-child{
    margin-bottom: 0.8em;
}

.download-buttons-container button{
    width: 300px;
    height: 25px;
    text-align: start;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.download-buttons-container button:hover, select{
    cursor: pointer;
}

.search-container button{
    width: 80px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #009879;
    color: #f3f3f3;
    border-radius: 5px;
}

.search-container button:hover{
    cursor: pointer;
}

.list-all{
    text-decoration: underline;
    font-size: 0.7em;
    color: #009879;
    margin-bottom: 3px;
    margin-top: 20px;
}

.list-all:hover{
    cursor: pointer;
}

nav{
    display: flex;
    margin-bottom: 1rem;
}

li{
    list-style-type: none;
    padding: 1rem;
}

a button{
    width: 80px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #c31111;
    color: #f3f3f3;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

.hidden {
    display: none;
}
  
label { 
    margin-bottom: 10px;
    display: block;
}

a{
    text-decoration: none;
    color:#009879;
}

a:hover{
    color: black;
}

.links{
    display: flex;
    flex-direction: column;
}

#download-link {
    margin-top: 1rem;
}

img{
    border-radius: 50%;
}